
<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <% if @task.completed  %>
   <p>This task has been completed</p>
  <% else %>
  <p>This task has not been completed yet</p>
   <% end %>


  <button class="btn btn-primary mt-3 btn-style">
    <%=link_to "Back to list", tasks_path%>
  </button>

    <button class="btn btn-primary mt-3 btn-style">
    <%=link_to "Edit", edit_task_path%>
  </button>
  </div>

  <%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
